# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Customs
*.DESTDAT
*.db
*.opendb
*.suo
*.sln
*.vcxproj
*.filters
*.user
solutions_cmake/
FOR_RELEASE/
bin/
*.7z
